# Ignore environment files
.env

# Ignore node_modules
/node_modules

# Ignore vendor folder (composer dependencies)
/vendor

# Ignore storage folder (uploaded files, logs, cache)
/storage

# Ignore bootstrap cache
/bootstrap/cache

# Ignore public files except for public directory that hosts the app
/public_html/*

# Ignore IDE/editor configuration files
.idea
.vscode

# Ignore OS-specific files (macOS)
.DS_Store

# Ignore all files except specific folders to track
/*
!resources/
!routes/
!app/
!database/